@font-face {
    font-family: "Ronzino";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("/assets/fonts/Ronzino-Regular.woff2") format("woff2-variations");
}

@font-face {
    font-family: "Ronzino";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url("/assets/fonts/Ronzino-Bold.woff2") format("woff2-variations");
}

@font-face {
    font-family: "Ronzino";
    font-style: oblique;
    font-display: swap;
    font-weight: 400;
    src: url("/assets/fonts/Ronzino-Oblique.woff2") format("woff2-variations");
}

@font-face {
    font-family: "Ronzino";
    font-style: oblique;
    font-display: swap;
    font-weight: 700;
    src: url("/assets/fonts/Ronzino-BoldOblique.woff2")
        format("woff2-variations");
}

@font-face {
    font-family: "Tanklager Kompakt";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("/assets/fonts/Tanklager-Kompakt.woff2") format("woff2-variations");
}

:root {
    --light-blue: #75c8ef;
    --dark-blue: #2a608e;
}

* {
    margin: 0;
    padding: 0;

    font-family: "Ronzino", sans-serif, system-ui;
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: "Tanklager Kompakt", sans-serif, system-ui;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.25rem;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 100px 80px;
    background: var(--light-blue);

    p {
        max-width: 50ch;
    }
}

.good-to-know {
    display: flex;
    justify-content: space-between;
    padding: 60px 80px;

    & > div {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        justify-content: center;
        background: var(--dark-blue);
        color: white;
        width: 170px;
        aspect-ratio: 1;
        padding: 24px;
        border-radius: calc(infinity * 1px);

        & * {
            text-align: center;
        }
    }
}

.follow-us {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 60px 80px;

    & > div {
        display: flex;
        flex-direction: column;
        gap: 16px;

        & a {
            display: flex;
            align-items: center;
            gap: 16px;
            width: fit-content;
            font-size: 1.5rem;
            padding: 24px;
            background: var(--light-blue);
            color: black;
            border-radius: 8px;
        }
    }
}

.testimonials {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 60px 80px;
    background: var(--light-blue);

    & > div {
        display: flex;
        gap: 16px;

        & > article {
            display: flex;
            flex-direction: column;
            gap: 16px;
            max-width: 420px;
            background: white;
            border-radius: 8px;
            padding: 24px;

            & > blockquote {
                font-size: 1.25rem;
            }
        }
    }
}
