@font-face {
    font-family: "Ronzino";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("assets/fonts/Ronzino-Regular.woff2") format("woff2-variations");
}

@font-face {
    font-family: "Ronzino";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url("assets/fonts/Ronzino-Bold.woff2") format("woff2-variations");
}

@font-face {
    font-family: "Ronzino";
    font-style: oblique;
    font-display: swap;
    font-weight: 400;
    src: url("assets/fonts/Ronzino-Oblique.woff2") format("woff2-variations");
}

@font-face {
    font-family: "Ronzino";
    font-style: oblique;
    font-display: swap;
    font-weight: 700;
    src: url("assets/fonts/Ronzino-BoldOblique.woff2")
        format("woff2-variations");
}

@font-face {
    font-family: "Tanklager Kompakt";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("assets/fonts/Tanklager-Kompakt.woff2") format("woff2-variations");
}

:root {
    --background: #ffffff;
    --background-2: #75c8ef;

    --foreground-text: #000000;
    --foreground-text-2: #ffffff;

    --foreground-container: #75c8ef;
    --foreground-container-2: #2a608e;

    --side-padding: 40px;
}

@media screen and (min-width: 800px) {
    :root {
        --side-padding: 80px;
    }
}

@media screen and (min-width: 1200px) {
    :root {
        --side-padding: 120px;
    }
}

@media screen and (min-width: 1500px) {
    :root {
        --side-padding: 240px;
    }
}

* {
    margin: 0;
    padding: 0;

    font-family: "Ronzino", sans-serif, system-ui;
    font-weight: 400;
    font-size: clamp(1rem, 0.9375rem + 0.25vw, 1.125rem);
}

body {
    background: var(--background);
    color: var(--foreground-text);
}

h1,
h2,
h3 {
    font-family: "Tanklager Kompakt", sans-serif, system-ui;
    line-height: 1.1;
}

h1 {
    font-size: clamp(3rem, 2.545rem + 1.818vw, 4rem);
}

h2 {
    font-size: clamp(1.85rem, 1.668rem + 0.727vw, 2.25rem);
}

strong {
    font-weight: 700;
}

.button {
    display: flex;
    align-items: center;
    gap: 16px;
    width: fit-content;
    padding: 24px;
    background: var(--foreground-container);
    color: var(--foreground-text);
    border-radius: 8px;

    &:hover {
        background: var(--foreground-container-2);
        color: var(--foreground-text-2);

        & * {
            filter: invert(100%);
        }
    }

    & > img {
        height: 24px;
    }

    &.white {
        background: var(--background);

        &:hover {
            background: var(--foreground-container-2);
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 48px;
    padding: 100px var(--side-padding);
    background: var(--background-2);

    & > .details {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-wrap: balance;

        & p {
            max-width: 50ch;
        }
    }

    & img {
        border-radius: 8px;
        object-fit: cover;
        object-position: 0 50%;
        width: 100%;
        max-width: 600px;
        height: auto;
        aspect-ratio: 8 / 5;
    }
}

@media screen and (min-width: 1000px) {
    .hero {
        flex-direction: row-reverse;
        align-items: end;

        & img {
            max-width: 400px;
        }
    }
}

@media screen and (min-width: 1400px) {
    .hero img {
        max-width: 600px;
    }
}

.good-to-know {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 60px var(--side-padding);
    flex-wrap: wrap;

    & > div {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 8px;
        align-items: center;
        justify-content: center;
        background: var(--foreground-container-2);
        color: var(--foreground-text-2);
        width: 170px;
        height: 170px;
        padding: 24px;
        border-radius: 8px;

        & * {
            text-align: center;
        }
    }
}

.follow-us {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 60px var(--side-padding);

    & > div {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    & instagram-post {
        display: flex;
        width: fit-content;
        flex-direction: column;
        gap: 20px;
        padding: 16px;
        margin-top: 32px;
        background: var(--background);
        border-radius: 8px;
        box-shadow: 2px 4px 90px 3px rgba(0, 0, 0, 0.1);

        & video {
            width: 100%;
            overflow: hidden;
            border-radius: 4px;
        }

        & a {
            color: var(--foreground-text);
        }
    }
}

@media screen and (min-width: 600px) {
    .follow-us instagram-post {
        width: 280px;
        rotate: 4deg;
    }
}

@media screen and (min-width: 768px) {
    .follow-us instagram-post {
        position: absolute;
        right: var(--side-padding);
        translate: 20px -120px;
        width: 220px;
    }
}

@media screen and (min-width: 1200px) {
    .follow-us instagram-post {
        width: 300px;
    }
}

.testimonials {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 60px var(--side-padding);
    background: var(--background-2);

    & > div {
        display: flex;
        gap: 16px;

        & > article {
            display: flex;
            flex-direction: column;
            gap: 16px;
            max-width: 420px;
            background: var(--background);
            border-radius: 8px;
            padding: 24px;

            & > footer {
                font-size: 1rem;
            }
        }
    }
}

.website-footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;
    padding: 20px var(--side-padding);

    & > .socials {
        display: flex;
        gap: 16px;

        & > a:hover {
            filter: invert(36%) sepia(15%) saturate(1748%) hue-rotate(166deg)
                brightness(93%) contrast(102%);
        }
    }
}

@media screen and (min-width: 700px) {
    .website-footer {
        flex-direction: row;
        align-items: center;
    }
}

.notfound-main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 100px var(--side-padding);
    background: var(--background-2);
}
