@font-face {
    font-family: "Ronzino";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("/assets/fonts/Ronzino-Regular.woff2") format("woff2-variations");
}

@font-face {
    font-family: "Ronzino";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url("/assets/fonts/Ronzino-Bold.woff2") format("woff2-variations");
}

@font-face {
    font-family: "Ronzino";
    font-style: oblique;
    font-display: swap;
    font-weight: 400;
    src: url("/assets/fonts/Ronzino-Oblique.woff2") format("woff2-variations");
}

@font-face {
    font-family: "Ronzino";
    font-style: oblique;
    font-display: swap;
    font-weight: 700;
    src: url("/assets/fonts/Ronzino-BoldOblique.woff2")
        format("woff2-variations");
}

@font-face {
    font-family: "Tanklager Kompakt";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("/assets/fonts/Tanklager-Kompakt.woff2") format("woff2-variations");
}

:root {
    --light-blue: #75c8ef;
    --dark-blue: #2a608e;

    --side-padding: 40px;
}

@media screen and (min-width: 800px) {
    :root {
        --side-padding: 80px;
    }
}

@media screen and (min-width: 1200px) {
    :root {
        --side-padding: 120px;
    }
}

@media screen and (min-width: 1500px) {
    :root {
        --side-padding: 240px;
    }
}

* {
    margin: 0;
    padding: 0;

    font-family: "Ronzino", sans-serif, system-ui;
    font-weight: 400;
    font-size: 1.25rem;
}

h1,
h2,
h3 {
    font-family: "Tanklager Kompakt", sans-serif, system-ui;
    line-height: 1.1;
}

h1 {
    font-size: clamp(3rem, 2.545rem + 1.818vw, 4rem);
}

h2 {
    font-size: clamp(1.85rem, 1.668rem + 0.727vw, 2.25rem);
}

.button {
    display: flex;
    align-items: center;
    gap: 16px;
    width: fit-content;
    padding: 24px;
    background: var(--light-blue);
    color: black;
    border-radius: 8px;

    &:hover {
        background: var(--dark-blue);
        color: white;

        & * {
            filter: invert(100%);
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 48px;
    padding: 100px var(--side-padding);
    background: var(--light-blue);

    & > .details {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-wrap: balance;

        & p {
            max-width: 50ch;
        }
    }

    & img {
        border-radius: 8px;
        object-fit: cover;
        object-position: 0 100%;
        width: 100%;
        max-width: 400px;
        aspect-ratio: 8/5;
    }
}

@media screen and (min-width: 1000px) {
    .hero {
        flex-direction: row-reverse;
        align-items: end;
    }
}

.good-to-know {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 60px var(--side-padding);
    flex-wrap: wrap;

    & > div {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 8px;
        align-items: center;
        justify-content: center;
        background: var(--dark-blue);
        color: white;
        width: 170px;
        height: 170px;
        padding: 24px;
        border-radius: 8px;

        & * {
            text-align: center;
        }
    }
}

.follow-us {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 60px var(--side-padding);

    & > div {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.testimonials {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 60px var(--side-padding);
    background: var(--light-blue);

    & > div {
        display: flex;
        gap: 16px;

        & > article {
            display: flex;
            flex-direction: column;
            gap: 16px;
            max-width: 420px;
            background: white;
            border-radius: 8px;
            padding: 24px;

            & > footer {
                font-size: 1rem;
            }
        }
    }
}

.website-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px var(--side-padding);

    & > .socials {
        display: flex;
        gap: 16px;
    }
}
